<!DOCTYPE html>
<html class="dark" lang="<%= lang %>">
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/assets/css/index.css" />
  <body class="light">
    <%- include('partials/header') %>

    <div id="preloader">
      <div class="spinner"></div>
    </div>

    <div class="full-layout">
      <div class="main-layout">
        <div class="main-panel">
          <div class="matrix-container">
            <canvas id="matrix-canvas"></canvas>
          </div>
          <div class="spacer"></div>
        </div>
      </div>

      
    </div>
    
    

    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
  </body>
</html>